<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WileyCoWeb</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-speedometer2-nav-menu" aria-hidden="true"></span> Workspace
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="budget-dashboard">
                <span class="bi bi-graph-up-arrow-nav-menu" aria-hidden="true"></span> Budget Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="docs/wileyco-ui-rebuild-plan.md">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Rebuild Plan
            </NavLink>
        </div>
    </nav>
</div>

