@using WileyCoWeb.State

<div id="quickbooks-import-panel" class="h-full">
    <QuickBooksImportPanel WorkspaceState="@WorkspaceState" />
</div>

@code {
    [Parameter, EditorRequired]
    public WorkspaceState WorkspaceState { get; set; } = default!;
}
